---
Language: Cpp
BasedOnStyle: LLVM
AccessModifierOffset: -1
AlignAfterOpenBracket: AlwaysBreak
AlignEscapedNewlines: Left
AlignOperands:   false
AlignTrailingComments: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakBeforeMultilineStrings: true
AlwaysBreakTemplateDeclarations: true
BinPackArguments: false
BinPackParameters: false
BraceWrapping:
  AfterExternBlock: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
BreakBeforeInheritanceComma: false
BreakConstructorInitializers: BeforeColon
BreakAfterJavaFieldAnnotations: false
BreakStringLiterals: false
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: true
FixNamespaceComments: true
ForEachMacros:
  - FOR_EACH_RANGE
  - FOR_EACH
  - BOOST_FOREACH
IndentCaseLabels: true
IndentPPDirectives: None
JavaScriptQuotes: Leave
JavaScriptWrapImports: true
KeepEmptyLinesAtTheStartOfBlocks: false
ObjCSpaceBeforeProtocolList: false
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 1
PenaltyReturnTypeOnItsOwnLine: 200
PointerAlignment: Left
SortUsingDeclarations: true
SpaceAfterTemplateKeyword: true
